* {
  /* margin: 0; */
  padding: 3px;
  box-sizing: border-box;
  /* color: white */
}

header {
  background-color: purple;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3em;
}

header nav a {
  margin: 0 1em;
  text-decoration: none;
  color: white;
}

#homebutton {
  font-size: 2em;
}

.App {
  text-align: center;
}

.singleIssue, .series-card {
  align-items: center;
  max-width: 300px;
  max-height: 380px;
  border-radius: 4px;
  background-color: #1b1b1b;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
  justify-content: space-around;
}

.container-grid {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 1em;
  justify-content: center;
}

.button-row {
  padding: 0.5em;
}

