
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


* {
  /* margin: 0; */
  padding: 3px;
  box-sizing: border-box;
  /* color: white */
}

body {
  font-family:'Bangers', cursive;
}

header {
  background-color: #5b228a;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3em;
}

header nav a {
  margin: 0 1em;
  text-decoration: none;
  color: white;
}

header nav a #homebutton {
  font-size: 2em;
}

.App {
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100;
}
.singleIssue, .series-card {
  align-items: center;
  max-width: 300px;
  max-height: 380px;
  border-radius: 10px;
  background-color: #6445ba;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
  justify-content: space-around;
}

.coverArt {
  background-color: white;
  justify-content: space-around;
}

.container-grid {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 1em;
  justify-content: center;
}

button {
  background-color: white;
  border: none;
  border-radius: 5px;
  display: inline-flex;
  text-decoration: none;
  padding: 10px 20px;
  
}

.Delete {
  background-color: red;
  color: white;
}
.Confirm {
  background-color: green;
  color: white;
  margin-top: 1em;
}

.Confirm:active {
  background-color: white;
  color: green;
  border: 2px solid green;
}
.button-row {
  padding: 0.5em;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  margin: 0 auto;
  padding: 2em;
}

.coverArt {
  border-radius: 10px;
}